# Maven build files
**/bin/**/*
**/dependency-reduced-pom.xml
salesforce-to-txt/target/classes/com/akvelon/salesforce/utils

# IntelliJ files
**/.idea/**/*
**/*.iml
**/*.ipr
**/*.iws
**/out/**/*

# MacOSX Files
**/.DS_Store/**/*
**/.DS_Store
